{% extends "index.html" %}
{% block content %}
    <h2 style="text-align: center;">Suivre d'autres utilisateurs</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="forms">
            <div>{{ form }}</div>
            <input type="submit" value="Envoyer">
        </div> 
    </form>
    <h2 style="text-align: center;">Abonnements</h2>
    <ul>
        {% for user in user_follows %}
            {% if  user.user == current_user%}
                <li class="subscriber_list">{{ user.followed_user }}</li><a href={% url 'subscriptions_delete' user.pk %}>Se désabonner</a> 
            {% endif %}
    </ul>    
        {% empty %}
            <p>Vous ne suivez aucun utilisateurs</p> 
        {% endfor %}
    <h2 style="text-align: center;">Abonnés</h2>
    <ul>
        {% for subscriber in subscribers %}
            <li>{{ subscriber.user }}</li>
    </ul>
        {% empty %}
            <p>Aucun utilisateurs ne vous suit</p>
        {% endfor %}
{% endblock content%}