{% extends "index.html" %}
{% block content %}
    <h2 style="text-align: center;">Suivre d'autres utilisateurs</h2>

{% comment %} # user = models.ForeignKey(related_name='following')
                followed_user = models.ForeignKey(related_name='followed_by') {% endcomment %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="forms">
            <div>{{ form.followed_user }}</div>
            {% comment %} <div>{{ form }}</div> {% endcomment %}
            <input type="submit" value="Envoyer">
        </div> 
    </form>

    <h2 style="text-align: center;">Abonnements</h2>

    <ul>
        {% for user in users %}
            {% if user.following %}
                <li>{{ user.following.username}}</li><a href=#>Se désabonner</a> 
            {% endif %}
    </ul>    
        {% empty %}
            <p>Vous ne suivez aucun utilisateurs</p> 
        {% endfor %}
    
    <h2 style="text-align: center;">Abonnés</h2>
    <ul>
        {% for user in users %}
            {% if user.followed_by %}
                <li>{{ user.followed_by.username }}</li>
            {% endif %}
    </ul>
        {% empty %}
            <p>Aucun utilisateurs ne vous suit</p>
        {% endfor %}  

    <script src="/review/static/review/code.js"></script>
{% endblock content%}