header 
{
    border-bottom: 1px solid black;
}

body
{
    border: 1px solid black;
    padding-bottom: 50px;
}

#mainTitle
{
    text-align: center;
}

#header_menu
{
    display: flex;
    align-content: space-around;
}

#mainSection
{
    width: 75%;
    min-width: 400px;
    margin: auto;
}

h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#block__connection
{
    display: flex;
    justify-content: space-between;
}

#block__registration
{
    width: 50%;
}

#block__login
{
    width: 50%;
}

#ticket_description
{
    width: 400px;
}

#ticket_title
{
    width: 400px;
    height: 400px;
}